<mat-toolbar color="primary">
  <img src="../../assets/img/miw.png"/>
  <span>TPV</span>
  <button mat-button (click)="login()">
    <mat-icon>person_outline</mat-icon>
    <span>Login</span>
  </button>
</mat-toolbar>

<h2>Welcome to POS</h2>

