<mat-card>
  <mat-card-title>Search</mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Mobile" [(ngModel)]="user.mobile">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="user.username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Dni" [(ngModel)]="user.dni">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address" [(ngModel)]="user.address">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="onlyCustomer">Only Customer</mat-checkbox>
    <button mat-mini-fab color="primary" (click)="search()">
      <mat-icon>search</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="resetSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-content>
</mat-card>
<!-- Default: [createAction]="true" [readAction]="true" [updateAction]="true" [deleteAction]="true"-->
<app-crud [data]="data" [title]="title" [columns]="columns"
          (create)="create()" (read)="read($event)" (update)="update($event)" (delete)=delete($event)></app-crud>
