<mat-card>
  <mat-card-title>
    {{title}}
  </mat-card-title>
  <mat-card-content>
    <mat-table class="mat-elevation-z8" #table [dataSource]="dataSource" matSort>
      <!-- Dynamic column -->
      <ng-container *ngFor="let def of columns" [matColumnDef]="def">
        <mat-header-cell *matHeaderCellDef>{{ def | uppercase }}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row[def] }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-button matSuffix mat-icon-button *ngIf="createAction==true" (click)="onCreate()">
            <mat-icon color="warn">add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <button mat-button matSuffix mat-icon-button *ngIf="readAction==true" (click)="onRead(item)">
            <mat-icon color="warn">visibility</mat-icon>
          </button>
          <button mat-button matSuffix mat-icon-button *ngIf="updateAction==true" (click)="onUpdate(item)">
            <mat-icon color="warn">mode_edit</mat-icon>
          </button>
          <button mat-button matSuffix mat-icon-button *ngIf="deleteAction==true" (click)="onDelete(item)">
            <mat-icon color="warn">close</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columns.concat('actions')"></mat-header-row>
      <mat-row *matRowDef="let item; columns: columns.concat('actions');"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
