<h3 mat-dialog-title>Login</h3>
<mat-dialog-content>
  <mat-form-field>
    <input matInput type="text" placeholder="Mobile" [(ngModel)]="mobile"/>
    <button mat-button *ngIf="mobile" matSuffix mat-icon-button aria-label="Clear" (click)="mobile=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Password" [(ngModel)]="password"/>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="this" cdkFocusInitial>Submit</button>
</mat-dialog-actions>
